body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #87CEEB, #4682B4);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CSUSM_Header {
  background-color: white;
  color: #0062a5;
  padding: 1px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 5px;
  z-index: 9999;
}

.header-title {
  display: flex;
  justify-content: left;
  flex-grow: 1;
}

.header-title h1 {
  white-space: nowrap; /* Prevent wrapping */
  margin: 0; /* Remove any default margin */
  padding: 0;
}

.csusm-logo {
  display: flex;
  justify-content: left;
}

.logo {
  width: 170px;
  height: auto;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 30%;
  padding-right: 10px;
}

.header-links a {
  text-decoration: none;
  padding: 14px 16px;
  color: #0062a5;
}

.header-links a:hover {
  background-color: #0063a521;
  color: black;
}

.profile-pic {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}

#profile-icon {
  height: 50px;
  width: 50px;
}

.white-panel {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.385);
  max-width: 80%;
  margin: 120px auto;
}

.post-form {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 20px;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
  color: #0063a5;
}

.form-section input[type="text"],
.form-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  background-color: #0063a5;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #005291;
}
