.CSUSM_Header {
  background-color: white;
  color: #0062a5;
  padding: 1px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.CSUSM_Header h1 {
  margin-right: auto; /*have image to right*/
}

.header-title {
  display: flex;
  justify-content: left;
}

.csusm-logo {
  display: flex;
  justify-content: left;
}

.logo {
  width: 150px;
  height: auto;
  
}

.profile-pic {
  
  margin-left: auto; 
  margin-right: 10px;
  padding-right: 20px;
}

#profile-icon {
  height: 50px;
  width: 50px;
}
html, body {
  height: 100%; /* Ensure HTML and body elements fill the entire viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: linear-gradient(to bottom, #87CEEB, #4682B4);
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.white-panel {
  background-color: white; /* White background */
  padding: 20px; /* Padding on all sides(inside) */
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for depth */
  width: 80%;/*left and right padding (outside)*/
  margin: 0 auto;/*centers horizontally and starts lower*/
}

/*checkbox
/* Hide default checkbox */
input[type="checkbox"] {
  display: none;
}


/* Style for star checkbox */
label {
  width: 50px; 
  height: 50px; 
  background-image: url('Pictures/filledStar.png'); /* Star image */
  background-size: auto 90%;
  background-position: center;
  cursor: pointer;
  z-index: 2;
  top: 10px;
  left: -10px;
}

/* Checked state style */
input[type="checkbox"]:checked + label {
  background-image: url('Pictures/hollowStar.png'); /* Filled star image */
}
.star-checkbox {
  margin-left: auto;
}

/*------drop down------https://www.w3schools.com/howto/howto_css_dropdown.asp----*/
/* Dropdown Button */
.dropbtn {
  background-color: #0062a5;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d1d3d4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space:nowrap;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #bcbec0;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #002E5A;}

/*------navbar-----https://www.w3schools.com/howto/howto_css_subnav.asp---*/
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #0062a5;
  margin: 90px auto;/* makes navbar start lower*/
}

/* Navigation links */
.navbar a ,h2{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #002E5A
  ;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #0062a5;
  width: 100%;
  padding: 14px;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: #0062a5;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Kane css*/
.post {
  display: flex;
  justify-content: left;
  align-content: center;
  flex-grow: 1;
  background-color: #eeeeee;
  border: 1px solid #a2a2a2;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  position: relative;
  width: 100%;
}

.post-container {
  display: flex;
  justify-content: left;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}
.post-image {
  display: inline-block;
}

.post-image img {
  height: 8rem;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}

.post-content .post-tag {
  text-align: center;
  justify-content: center;
  margin-bottom: .2rem;
  width: fit-content;
  padding: .2rem;
  color: white;
  /*border: 1px solid #a2a2a2;*/
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
  background-color: #0062a5;
}

.post-content .post-date {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-weight: bold;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}